* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  background: #faf9f0;
}

/*preloader*/

#preloader {
 
  width: 100vw;
  z-index: 100;
  position: fixed;
}

.span1{
  height: 40vh;
  background:  linear-gradient(to bottom, #ff9933 100%, #0c111b00);
  
}
.span2{
  height: 20vh;
  background: #faf9f0 url(images/preloader.gif) no-repeat center center;
  background-size: 18vh;
  
  
}
.span3{
  height: 40vh;
  background:  linear-gradient(to top, #138808 100%, #0c111b00);
  
}

.entery {
  text-align: center;
  top: 20vh;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animatea 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes  animatea {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/*navigation bar*/

.navbar {
  width: 100%;
  height: 80px;
  left: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  padding: 0 4%;
  background: #fcffe7;
  display: flex;
  align-items: center;
}

.brand-logo {
  height: 70px;
}
.nav-links {
  margin-top: 10px;
  margin-left: auto;
  display: flex;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  margin-left: 20px;
  text-transform: capitalize;
  color: #035397;
  opacity: 0.9;
}

/*carousel*/

.carousel-container {
  position: relative;
  width: 100%;
  height: 650px;
  padding: 20px 0;
  overflow: hidden;
  margin-top: 80px;
}

.carousel {
  display: flex;
  width: 92%;
  height: 100%;
  position: relative;
  margin: auto;
}

.slider {
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background: #ff971d;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;
}

.slider img {
  width: 70%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}

.slide-content {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, #ff971d 80%, #e0e2e500);
  color: #fff;
}

.flag-title {
  padding-left: 50px;
  text-transform: capitalize;
  
  margin-top: 80px;
  font-size: 5vw;
  font-weight: 900;
  background: linear-gradient(to right, #138808 30%, #08e41300);
  z-index: 5;
  color: #fff;
  width: 80%;
  
}

.flag-des {
  width: 80%;
  line-height: 30px;
  margin-top: 30px;
  padding-left: 50px;
  opacity: 0.8;
  color: #faf9f0;
}

/*about flag*/
.content {
  position: relative;
  text-align: center;
  margin-top: 50px;
  margin-left: 50vw;
  margin-bottom: 50px;
}

.content h2 {
  color: #fff;
  font-size: 4em;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #ff9933;
}

.content h2:nth-child(2) {
  color: #138808;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.about {
  position: static;
  padding: 50px 50px 30px 50px;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url("images/chakra.png");
  background-size: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

/*expanding card*/

.main {
  display: flex;
  width: 90vw;
  margin-top: 50px;
}
.pic {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #000;

  cursor: pointer;
  flex: 0.5;
  position: relative;
  margin: 10px;
  transition: flex 0.7s ease-in;
}
.pic h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.pic.active {
  flex: 5;
}
.pic.active h3 {
  opacity: 1;
}

/*azadi ka amritmohtsav*/

.text-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box h1 {
  font-size: 5vw;
  font-weight: 900;
  background-color: #138808;
  color: #fff;
  display: block;
  padding: 0.2em;
}

h1:nth-child(2) {
  position: absolute;
  background-color: #fff;
  color: #ff9933;
  clip-path: inset(-1% -1% 50% -1%);
}

.harghar {
  padding: 30px 50px 30px 50px;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*typing*/
.wrapper{
  height: 5vh;
  display: grid;
  place-items: center;
}

.typing-demo{
  width: 40ch;
  animation: typing 5s steps(40) infinite, blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em;
  color: #87805E;
}

@keyframes typing{
  from{
    width: 0
  } 
 
}

@keyframes blink{
    50%{
      border-color: transparent
    }
}

/*date*/
.date{
  text-align: center;
  margin-top: 3px;
  font-size: 1.2em;
  font-weight: 500;
}
.a{
  color: #ff971d;
}
.b{
  color: #007cb9;
}.c{
  color: #138808;
}



/*boxes*/
.outer {
   padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.outer .box {
  position: relative;
  width: 350px;
  height: 400px;
  padding: 40px;
  background: #fcffe7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.outer .box::before{
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
  z-index: 2;
  pointer-events: none;
}
.outer .box .icon {
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}

.outer .box:nth-child(1) .icon {
  box-shadow: 0 0 0 0 #ff9933;
  background: #ff9933;
}

.outer .box:nth-child(1):hover .icon {
  box-shadow: 0 0 0 400px #ff9933;
}
.outer .box:nth-child(2) .icon {
  box-shadow: 0 0 0 0 #035397;
  background: #035397;
}

.outer .box:nth-child(2):hover .icon {
  box-shadow: 0 0 0 400px #035397;
}
.outer .box:nth-child(3) .icon {
  box-shadow: 0 0 0 0 #138808;
  background: #138808;
}

.outer .box:nth-child(3):hover .icon {
  box-shadow: 0 0 0 400px #138808;
}

.outer .box .content-d {
  position: relative;
  z-index: 5;
  transition: 0.5s;
  color: #000;
  
  
}

.outer .box:hover .content-d {
  color: #fff;
}

.outer .box .content-d h3 {
  font-size: 30px;
  text-align: center;
  margin: 5px;
  padding: 0;

}

.outer .box .content-d p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.outer .box .content-d a {
  display: inline-block;
  margin-left: 70px;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*fighter-list*/

.title {
  color: #fff;
  opacity: 0.9;
  padding-left: 4%;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
}

.fighter-list {
  width: 100%;
  height: 220px;
  position: relative;
  margin: 10px 0 20px;
}

.card-container {
  position: relative;
  width: 92%;
  padding-left: 10px;
  height: 220px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  min-width: 150px;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  transition: 0.5s;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .card-body {
  opacity: 1;
}

.card-body {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
  padding: 10px;
  transition: 0.5s;
}

.name {
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 60%;
}

.des {
  color: #fff;
  opacity: 0.8;
  margin: 5px 0;
  font-weight: 500;
  font-size: 12px;
}

.watchlist-btn {
  position: relative;
  width: 100%;
  text-transform: capitalize;
  background: none;
  border: none;
  font-weight: 500;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 5px 0;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
}

.watchlist-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  height: 35px;
  width: 35px;
  background-image: url(images/add.png);
  background-size: cover;
  transform: scale(0.4);
}

.watchlist-btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.pre-btn,
.nxt-btn {
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  z-index: 2;
  border: none;
  cursor: pointer;
  outline: none;
}
.pre-btn {
  left: 0;
  background: linear-gradient(to right, #ff9933 0%, #0c111b00);
}

.nxt-btn {
  right: 0;
  background: linear-gradient(to left, #138808 0%, #0c111b00);
}

.pre-btn img,
.nxt-btn img {
  width: 15px;
  height: 20px;
  opacity: 0;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}


/*footer*/
#footer{
  padding: 7% 15%;
  text-align: center;
  font-weight: 900;
  box-shadow: 0 5px 15px rgb(2, 19, 70);
  background: #5FD068 url(images/preloader.gif) no-repeat center center;
  background-size: 38vh;
  opacity: 9;
  color: #ff9933;
  
}

.social-icon{
  margin: 20px 10px;
}


